.add-user-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-user-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.add-user-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s ease;
}

.add-user-modal-close:hover {
  color: #d13438;
}

.add-user-modal-content h2 {
  font-size: 18px;
  margin-bottom:20px;
  text-align: center;
  color: #d13438;
}

.add-user-modal-content form {
  display: flex;
  flex-direction: column;
}

.add-user-modal-content label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #d13438;
}

.add-user-modal-content input[type="text"],
.add-user-modal-content input[type="email"],
.add-user-modal-content input[type="password"],
.add-user-modal-content input[type="checkbox"] {
  margin-bottom: 15px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  color: #333;
}

.add-user-modal-content input:focus {
  border-color: #d13438;
  outline: none;
  box-shadow: 0 0 5px rgba(209, 52, 56, 0.5);
}

.add-user-modal-content button[type="submit"] {
  background-color: #d13438;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.add-user-modal-content button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-user-modal-content .error-message {
  color: #d13438;
  font-size: 12px;
  margin-bottom: 10px;
}
.add-user-modal-content label span {
  color: #d13438; 
  font-weight: bold; 
  margin-left: 80px; 
}